In [1]:
import pandas as pd #library calling

In [2]:
bookings = pd.read_csv("D:\\Книги Дарья\\Курс Python\\bookings.csv",
                    encoding='windows-1251', sep=';') #csv_file downloading

In [3]:
bookings_head = bookings.head(7)

In [4]:
bookings.shape #quantity of rows and columns

(119390, 21)

In [5]:
bookings.dtypes #column types

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [6]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [7]:
#fuction for renaming columns
def to_lower_underscore(name):
    name = name.lower().replace(' ', '_')
    return name

In [8]:
bookings = bookings.rename(columns=to_lower_underscore)

In [9]:
#top5_booking_countries
bookings.query('is_canceled == 0') \
        .country \
        .value_counts()[:5]

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [10]:
bookings.groupby(['hotel'], as_index=False).agg({'stays_total_nights': 'mean'}).round(2) #average stays nights

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [12]:
bookings.query('assigned_room_type != reserved_room_type').shape #quantity of changed room types

(14917, 21)

In [16]:
bookings.query('arrival_date_year == 2016') \
        .arrival_date_month \
        .value_counts() #popular month of booking in 2016

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [19]:
bookings.query('arrival_date_year == 2017') \
        .arrival_date_month \
        .value_counts() #popular month of booking in 2017

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [24]:
bookings.query('hotel == "City Hotel" and is_canceled  == 1') \
        .groupby('arrival_date_year') \
        .arrival_date_month.value_counts() #top month of cancelling of every year

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [30]:
bookings[['adults', 'children', 'babies']].mean() #age statistics

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [31]:
bookings['total_kids'] = bookings.children + bookings.babies
bookings.groupby('hotel') \
        .total_kids.mean().round(2).max() #average quantity of kids in hotels

0.14