In [1]:
import pandas as pd #library calling

In [2]:
bookings = pd.read_csv("D:\\Книги Дарья\\Курс Python\\bookings.csv",
                    encoding='windows-1251', sep=';') #csv_file downloading

In [7]:
bookings_head = bookings.head(7)

In [9]:
bookings.shape #quantity of rows and columns

(119390, 21)

In [12]:
bookings.dtypes #column types

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [13]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [25]:
#fuction for renaming columns
def to_lower_underscore(name):
    name = name.lower().replace(' ', '_')
    return name

In [26]:
bookings = bookings.rename(columns=to_lower_underscore)

In [29]:
#top5_booking_countries
bookings.query('is_canceled == 0') \
        .country \
        .value_counts()[:5]

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [31]:
bookings.groupby(['hotel'], as_index=False).agg({'stays_total_nights': 'mean'}).round(2) #average stays nights

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32